
.root {-fx-background-image: url(background.jpg);}

.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #E73921;
}

#title{
    -fx-font-size: 28px;
    -fx-font-family: "Adobe Devanagari";
    -fx-font-weight: bold;
    -fx-text-fill: #E73;
}

#submission{
    -fx-font-weight: bold;
    -fx-text-fill: #09F;
}

.button{
    -fx-text-fill: white;
    -fx-font-family: "Adobe Devanagari";
    -fx-font-weight: bold;
    -fx-background-image: linear-gradient(#630292,#004);
}